body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: left;
}

button {
    background-color: #fff;
    border: none;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.container {
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #333;
}

img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

p {
    color: #666;
    font-size: 18px;
}

p#drink-temperature {
    font-weight: bold;
}

p#drink-composition {
    font-style: italic;
}

p#drink-preparation {
    text-align: left;
}

p#drink-price {
    color: #4CAF50;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
}